body {
  background: #fff;
}

.telegram__check {
  margin-bottom: 10px;
}

.telegram__link {
  text-decoration: none;
  font-weight: 400;
  color: #0088cc;
}

.telegram__checkbox-label {
  margin-left: 5px;
}

.options__label {
  font-size: 14px;
  padding-left: 5px;
}

.input {
  width: 30px;
  border-radius: 5px;
  border: 1px solid #e9011b;
}

.input__outer {
  margin-bottom: 5px;
}

.options__label {
  position: relative;
}

.options__message-box {
  position: absolute;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #e9011b;
  background: #fff;
  font-size: 16px;
  color: #e9011b;
  display: none;
}

.options__message-box-time-to-expire {
  top: -40px;
  left: -200px;
}

.options__message-box-time-to-send-message {
  top: -40px;
  left: -200px;
}

.options__message-box-request-interval {
  top: -40px;
  left: -260px;
}

.outer {
  margin: 0 auto;
  width: 431px;

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.logo__img {
  max-height: 85px;
}

.table {
  display: none;
}

td {
  width: 90px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.new-table__header {
  font-size: 0;
  width: 940px;
  background: #e9011b;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  z-index: 9000;
}

.new-table__header-white-bg {
  width: 100%;
  height: 22px;
  background: #fff;
  position: relative;
  z-index: 8000;
}

.check:after {
  display: inline-block;
  content: 'X';
}

.new-table {
  position: relative;
  border: 1px solid #e9011b;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border-spacing: 0;
  overflow: hidden;
  margin: 0 auto 10px;
  z-index: 5000;
}

.new-table__header-cell {
  display: inline-block;
  background: #e9011b;
  color: #fff;
  font-weight: 400;
  text-align: center;
  width: 18.71%;
  font-size: 16px;

  &:first-child {
    width: 6.4%;

  }
}

.new-table__order-warning {
  background: rgba(253, 205, 24, .3);
}

.new-table__order-expired {
  background: rgba(233, 1, 27, .3);
}

.new-table__order-normal {
  background: rgba(117, 233, 1, .3);
}

.new-table__order-remade {
  background: rgba(1, 105, 233, .3);
}

.new-table__cell {
  border-top: 1px solid #e9011b;
  border-right: 0;
  border-left: 1px solid #e9011b;
  border-bottom: 0;


  &:first-child {
    border-left: 0;
    width: 30px;
  }
}

tbody:first-child .new-table__cell {
  border-top: 0;
}

.instruction {
  margin-bottom: 20px;
}

.instruction__item {
  display: inline-block;
  margin-right: 15px;
}

.instruction__sample {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  display: inline-block;
}

.instruction__sample_expired {
  background: rgba(233, 1, 27, .3);
}

.instruction__sample_normal {
  background: rgba(117, 233, 1, .3);
}

.instruction__sample_remade {
  background: rgba(1, 105, 233, .3);
}

.instruction__sample_warning {
  background: rgba(253, 205, 24, .3);
}

.instruction__description {
  display: inline-block;
  margin-left: 5px;
}

.version {
  font-size: 10px;
  color: #fff;
  padding-top: 10px;
}

.source {
  font-size: 10px;
  color: #fff;
  margin-top: 50px;

  a {
    text-decoration: none;
    color: #fff;
  }
}

button {
  display: inline-block;
  background: #e9011b;
  border: 0;
  padding: 2px;
  color: #fff;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
}

